@model BusDisplayViewModel


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card bg-primary" style="width: 18rem;">
                <img src="~/lib/images/user-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bus Line Number & Bus Stop</h5>
                    <p class="card-text">Come quick text regarding the bus stop, and available route information</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bus Stop Location</li>
                    <li class="list-group-item">Arrival Time</li>
                    <li class="list-group-item">Bus Crowd Status</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Link to Map Direction</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
</div>