@model Position
<!--Hidden Form-->
@section landing{
    <body class="landing-content">
        <aside class="profile-card">
            <header class="landing-header">
                <div class="text-center">
                    <button class="btn text-center text-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Click the icon to start
                    </button>
                </div>
                <a id="sumbitBtn">
                    <img src="~/lib/images/bus (1).png" class="hoverZoomLink">
                </a>
                <br />
                <h1>Slug Bus Schedule</h1>
                <p class="text-muted">Summer 2019</p>
            </header>
        </aside>
        @using (Html.BeginForm("Landing", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(h => h.latitude, new { @id = "lat", @class = "d-none" })
            @Html.TextBoxFor(h => h.longitude, new { @id = "lon", @class = "d-none" })
            <input id="submit" type="submit" value="Submit" hidden />
        }

        <script>
            $(document).ready(function () {

                var x = document.getElementsByClassName("hoverZoomLink");
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(getPosition, showError);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function getPosition(position) {
                    $("#lat").attr('value', position.coords.latitude);
                    $("#lon").attr('value', position.coords.longitude);
                }

                function showError(error) {
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            x.innerHTML = "User denied the request for Geolocation."
                            break;
                        case error.POSITION_UNAVAILABLE:
                            x.innerHTML = "Location information is unavailable."
                            break;
                        case error.TIMEOUT:
                            x.innerHTML = "The request to get user location timed out."
                            break;
                        case error.UNKNOWN_ERROR:
                            x.innerHTML = "An unknown error occurred."
                            break;
                    }
                }
                getLocation();

                $("#sumbitBtn").click(function () {
                    $("#submit").click();
                });

            });
        </script>
    </body>
}






