@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use Science Hill during development</p>
    
    <select form_id="GeographicLocation">
        <option value="ScienceHill">Science Hill</option>
    </select>
    <form action="/" name="GeoLocation" method="get" id="GeographicLocation">
        <button type="submit">Find bus routes</button>
    </form>

    <form action="/" name="GPSLocation" method="get" id="GPSLocation">
        <button type="submit">Find my location</button>
    </form>
        
</div>
