@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use Science Hill during development</p>
    <select form_id="submitLocation">
        <option value="volvo">Volvo</option>
    </select>
    <form id="submitLocatio ">
        <button type="submit">Find bus routes</button>
    </form>
        
</div>
