@media only screen and (max-width: 990px) {
    #carouselExampleIndicators {
        display: none;
        visibility: hidden;
    }
}
.dev-name{
    padding-top: 10px;
}

.pad{
    padding-left: 1rem;
    padding-right: 1rem;
}

.show-closest-bus{
    padding-bottom: 20px;
}


.landing-content {
    background-color: #ffffff;
    background-size: 120% auto;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

    .landing-content:before {
        content: "";
        height: 0px;
        padding: 0px;
        border: 110em solid #333 !important; /*Background landing*/
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 2;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
        animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    }

.profile-card {
    background: #0075DB; /*starting icon color*/
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0,0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    padding-bottom: 64px !important;
    padding-top: 64px !important;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
    color: #0075DB;
}

.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
}

.profile-card header a > img {
    padding: 1rem !important;
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

    .profile-card header a:hover > img {
        -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    }

@media screen and (min-aspect-ratio: 4/3) {
    .landing-content {
        background-size: 100% auto;
    }

        .landing-content:before {
            width: 0px;
        }

    @-webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }

        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }

    @keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }

        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

@media screen and (min-height: 480px) {
    .profile-card {

        -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
        animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }

        .profile-card header {
            width: auto;
            height: auto;
            padding: 30px 20px;
            padding-bottom: 80px !important;
            padding-top: 63px !important;
            display: block;
            float: none;
            border-right: none;
        }
}

@media screen and (min-aspect-ratio: 4/3) {
    .landing-content {
        background-size: 100% auto;
    }

    .landing-content:before {
        width: 0px;
        -webkit-animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
        animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    }
}

@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }

    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }

    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@-webkit-keyframes puff_landscape {
    0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
    }

    100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
    }
}

@keyframes puff_landscape {
    0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
    }

    100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
    }
}

@-webkit-keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }

    100% {
        -webkit-border-radius: 0px;
    }
}

@keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }

    100% {
        border-radius: 0px;
    }
}

@-webkit-keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes moveUp {
    0% {
        background-color: #FFB300 !important;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background-color: #E0E0E0 !important;
    }
}

@keyframes moveUp {
    0% {
        background-color: #FFB300 !important;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background-color: #E0E0E0 !important;
    }
}

@-webkit-keyframes materia_landscape {
    0% {
        background-color: #E0E0E0 !important;
    }

    50% {
        -webkit-border-radius: 4px;
    }

    100% {
        width: 440px;
        height: 280px;
        background-color: #FFFFFF !important;
        -webkit-border-radius: 4px;
    }
}

@keyframes materia_landscape {
    0% {
        background-color: #E0E0E0 !important;
    }

    50% {
        border-radius: 4px;
    }

    100% {
        width: 440px;
        height: 280px;
        background-color: #FFFFFF !important;
        border-radius: 4px;
    }
}

@-webkit-keyframes materia_portrait {
    0% {
        background-color: #E0E0E0 !important;
    }

    50% {
        -webkit-border-radius: 4px;
    }

    100% {
        width: 280px;
        height: 440px;
        background-color: #FFFFFF !important;
        -webkit-border-radius: 4px;
    }
}

@keyframes materia_portrait {
    0% {
        background-color: #E0E0E0 !important;
    }

    50% {
        border-radius: 4px;
    }

    100% {
        width: 280px;
        height: 440px;
        background-color: #FFFFFF !important;
        border-radius: 4px;
    }
}

@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }

    50%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
    }

    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }

    50%, 100% {
        transform: scale3d(1, 1, 1);
    }

    100% {
        opacity: 0;
    }
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.dev-cards {
    width: 180px;
    height: 180px;
    border-radius: 50% !important;
}

.dev-title{
    padding-top: 10px;
    padding-bottom: 30px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 30px; /* Vertically center the text there */
}


.carousel {
    margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 10rem !important;
    z-index: 20;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 36rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 38rem;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.icon-sec {
    color: #0075DB;
    font-size: 5rem;
}

/*-----------------------------------------------------------LOCATION START BUTTON*/

.border-right-start {
    padding: 2rem;
    padding-right: 20px !important;
}


.hoverZoomLink {
    background-color: #0075DB;
}

.landing-header{
    padding-top: 4rem !important;
}